// colors
$primary: #FFA59E;
$error: #FF0D49;
$secondary: #CCCCCC;
$hover: #E0522D;
$romantic: #FFB991;
$tonys_pink: #E89984;
$semiprimary: #E8849F;
$lavender_rose: #FF91E6;
$text: #263E42;
$white: #fff;
$black: #000;
$blackNoir: rgb(15, 15, 15);

//Height
$heightHeaderMobile: 80;
$heightHeaderDesktop: 90;

//Categories color
$web: $hover;
$app: $secondary;
$photo:$romantic;
$grafhic:$tonys_pink;
$brand:$semiprimary;
$marketing:$lavender_rose;

$titlefont: 24px;
$fontservice: 18px;

// Z-index
$Zmenu-mobile: 10000;
$Zmenu: 1000;
$bottomImg: -10;
// font-family

$general: 'Lato',
sans-serif;
$outstanding: 'Raleway',
sans-serif;